/*.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.konto {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.search-container {
    width: 50vw;
    position: fixed;
    gap: 10px;
    left: 25%;
    transform: translateX(-50%);
    justify-items: center;
    z-index: 1000;
}

.nav-link.search {
    padding: 5px;
    width: 50%;
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 200px;
    height: calc(100vh - 60px);
    padding-top: 20px;
    line-height: 2;
    background-color: #242424;
}

.nav-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    transform: translateY(10vh);
}

.liste {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .liste li {
        margin: 5px 0;
    }

    .liste a {
        text-decoration: none;
        color: black;
    }

nav.top-movie {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    margin-top: 60px;
    margin-left: 220px;
    width: calc(100% - 220px);
    height: 100%;
    box-sizing: border-box;
}

.Left, .Right {
    display: flex;
    flex: 1;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-content: center;
    height: 275px;
}

    .Left img, .Right img {
        width: 150px;
        height: auto;
        border-radius: 8px;
        margin-left: auto;
    }

    .Left p, .Right p {
        max-width: 80%;
    }

.content {
    font-size: smaller;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line {
    display: flex;
    gap: 20px;
    margin: 0;
}

    .line span {
        display: inline-block;
    }

.overskrift {
    font-size: 18.49px;
}

.row {
    display: flex;
    justify-content: space-around;
    width: calc(100% - 220px);
    margin-left: 220px;
    height: 30vh;
    padding: 10px 0;
    box-sizing: border-box;
}

    .row div {
        width: 100%;
    }

    .row ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: space-around;
        height: 100%;
    }

    .row li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row img {
        width: 150px;
        height: 200px;
    }

    .row p {
        max-width: 150px;
        margin-top: 5px;
        text-align: center;
    }

    .row button {
        border-style: none;
        background: none;
    }
*/