################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/P3-Masterfag-Filmanmeldelse
/.vs
/Program/API/.vs
/Program/API/bin/Debug/net8.0
/Program/API/obj
/Program/.vs/ProjectEvaluation
/Program/.vs/FilmAnmeldelse/FileContentIndex
/Program/WebApp/.vs
/Program/WebApp/obj
