@inherits LayoutComponentBase
@rendermode InteractiveServer

@* @inject HttpClient Http
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Http.Extensions
@using WebApp.Authentication
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider AuthStateProvider *@

@page "/login"

<div class="container">

    <div class="header">
        <h1 class="Login">Login</h1>
    </div>

    <div class="form-group">
        <input type="text" @bind="Brugernavn" placeholder="Brugernavn" class="input-box" disabled="@isDisable" />
        <input type="password" @bind="Adgangskode" placeholder="Adgangskode" class="input-box" disabled="@isDisable" />
    </div>

    @if (!string.IsNullOrEmpty(Message))
    {
        <p style="color:red" class="error">@Message</p>
    }

    <div class="form-group-buttom">
        <button type="submit" @onclick="OnClickLogin" class="btn">Login</button>
    </div>

    <NavLink href="/Opret" class="opret-link">opret</NavLink>
    <NavLink href="/" class="opret-link">tilbage</NavLink>

</div>
